{% extends 'personajes/basePersonajes.html.twig' %} 
{% block contenido %}
{% for mensaje in app.flashes('success') %}
<style>
    .heading { color: #FF0000; }
    .tamaño { font-size: 30px; }
  </style>
<p class="heading tamaño">{{ mensaje }}</p>
{% endfor %}
<h2 class = "listado_personaje">Listado de Personajes</h2>
<div class="row_list">
  {% for personaje in personajes %}
  <div class="col mb-4">
    <div class="card" style="width: 18rem">
      <img src="{{ personaje.image }}" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ personaje.nombre }}</h5>
       
        <a href="{{ path('showCard',{id:personaje.id}) }}" class="btn btn-primary">Más Info</a>
        {% if is_granted('ROLE_ADMIN') %}
       <a href="{{ path('editPersonaje',{id:personaje.id}) }}" class="btn btn-primary">Editar</a>
        {% endif %}

       {% if is_granted('ROLE_ADMIN') %}
         <a href="{{ path('deletePersonaje',{id:personaje.id}) }}" class="btn btn-primary">Eliminar</a>
      {% endif %}

       
       

      
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
