{% extends 'personajes/basePersonajes.html.twig' %}

{% block contenido %}
<div class="container">
        <div class="row">
          <div class="col text-center">
            <h2>{{ personaje.nombre }} </h2>
          </div>
        </div>
        <div class="row">
          <div class="col"><img src="{{ personaje.image }}" /></div>
          <div class="col">
            <div class="row"><div class="col">{{ personaje.gender }}</div></div>
            <div>
            <div class="row"><div class="col">{{ personaje.status }}</div></div>
            <div>
            <div class="row"><div class="col">{{ personaje.species }}</div></div>
            <div class="row">
              <ul>
                {% for episodio in personaje.episodio %}
                <li>Episodio: {{ episodio.episodio}}</li>
                {% endfor %}
              </ul>
            </div>

          
          </div>
        </div>
      </div>
{% endblock %}
